[submodule "libs/glfw"]
	path = libs/glfw
	url = git@github.com:Minecraft-Clone/glfw.git
	branch = premake
[submodule "libs/glm"]
	path = libs/glm
	url = git@github.com:Minecraft-Clone/glm.git
[submodule "libs/glad"]
	path = libs/glad
	url = git@github.com:Minecraft-Clone/libGlad.git
	branch = premake
[submodule "libs/json"]
	path = libs/json
	url = git@github.com:abaurens/json.git
	branch = no-test
[submodule "libs/imgui"]
	path = libs/imgui
	url = git@github.com:abaurens/imgui.git
	branch = docking-premake
[submodule "libs/imguizmo"]
	path = libs/imguizmo
	url = git@github.com:abaurens/ImGuizmo.git
	branch = premake
